#  All functions exported other than those starting with "."
exportPattern("^[^\\.]")

exportClasses("peaksDataset")
exportMethods("show","plot")

import("methods")
importClassesFrom("SparseM", "matrix.csc")
importMethodsFrom("SparseM", "as.matrix", "as.matrix.csc")
importFrom("MASS", "rlm")
importFrom("gplots", "colorpanel")
importFrom("graphics", "axis", "image", "lines", "matplot", "plot",
           "points", "text")
importFrom("stats", "approx", "as.dist", "contr.sum", "cutree", "dist",
           "hclust", "median")
importFrom("utils", "read.table")
importFrom("xcms", "xcmsRaw")
importFrom("CAMERA", "annotate", "getpspectra")
importFrom('gcspikelite')
